body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.montserrat900 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.montserrat700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.montserrat400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Clase para los encabezados */
.roboto {
  font-family: 'Roboto', sans-serif;
}

/* Clase para el texto de párrafo */
.lato {
  font-family: 'Lato', sans-serif;
}
