.landing{
    width: 100%;
    /* overflow-y: hidden; */
    /*
    background-image: url('../public/BACKGROUND.svg');
    background-size: cover; 
    background-repeat: no-repeat; 
    */
}
.fondo{
    background-image: url('../public/BACKGROUND.svg');
    background-size: cover; 
    background-repeat: repeat; 
}

.landing-image{

    width: 60%;
    margin-right: 8rem;

}
.landing-image img{
    height: auto;
    max-width: 40rem;
   
}
.landing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.texto{
    color: #131314;
    font-size: 2rem;
    width: 5rem;
}
.texto span{
    display: block;
}

.landing-text{
    width: 40%;
    margin-left: 8rem;
}
.texto{
    text-align: initial;
    width: 80%;
    font-size: 3rem;
}
.sub-texto{
    text-align: justify;
    margin-top: 3rem;
    width: 80%;
    color: #9ECBD4;
    line-height: 1.7rem;
}
.boton{
    text-align: left;
    margin-top: 3rem;
}


