.navbar {
    margin: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5563AD; /* Cambia el color del texto según tus preferencias */
    padding: 10px 20px;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px; /* Ajusta el tamaño de la imagen del logo según tus necesidades */
    margin-right: 10px;
  }
  .logo span {
    font-size: 2.5rem;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #5563AD;
    font-size: 1rem;
  }